<!-- your html code here -->
<div style="padding: 70px;">
<h1>
    Contact
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora vero asperiores in quasi aut est aspernatur accusamus, tenetur, possimus deleniti accusantium aliquid nihil ad, perspiciatis dolorem. Nulla vitae hic cupiditate.
</p>
<div>
    <div style="background-color: white;">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo Electronico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="aqui va tu email">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe tu mensaje aqui"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
    </div>
</div>