<!-- your html code here -->
<hr>
<div class="container-services" style="padding-top: 90px; padding-bottom: 180px; margin-left: 70px;margin-right: 180px;">
    <div class="mx-auto" style="width: 110%;">
        <div class="float-end">
            <img src="https://placeimg.com/280/280/tech/grayscale" class="rounded-circle" />
        </div>
        <h1><strong> The Second Heading</strong> Is Pretty Cool Too.</h1>
        <br />
        <p> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusmod semper. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>