<!-- your html code here -->
<div class="container" style="padding-top: 100px; margin-left: 70px;margin-right: 70px;">
    <div class="mx-auto" style="width: 110%;">
     <div class="float-left">        
     <img src="https://placeimg.com/350/350/tech/grayscale" class="rounded-circle"/>
 </div>
 <h1><strong> Scond Heading</strong> Is Pretty Cool Too.</h1>
     <br />    
     <p> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusmod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.</p>
 </div>
 </div>>